$font-size: 1.4em;

$light-br: #D9BD8B;
$med-light-br: #BF9D73;
$medium-br: #73614C;
$med-dark-br: #40352F;
$dark: #0D0D0D;

$light-bl: #C4DDF2;
$med-light-bl: #77A1D9;
$medium-bl: #46658C;
$med-dark-bl: #364159;
